* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

body {
    background-color: var(--color-grey2);
}

:root {
    --color-orange: #FF8984;
    --color-grey: #4A4F56;
    --color-grey2: #3B3F45;
    --color-white: #FFFFFF;
    --color-violet: #88839E;
    --color-darkviolet: #7A7593;
    --color-forhover: #625E77;
    --color-forchecked: #9B96AC;
}

.header {
    background-color: var(--color-grey);
    color: var(--color-orange);
    text-align: center;
    padding: 20px 270px;
}

.title {
    font: 700 24px / 28px;
}

.sub__title {
    font: 400 16px / 19px;
}

.container {
    width: 540px;
    margin: 0 auto;
}

.table {
    margin: 30px 0 0;
    color: var(--color-white);
}

.table__item {
    padding: 20px;
    background-color: var(--color-violet);

    /* коректніше виглядатиме бордер по кутах*/
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}

.table__item:nth-child(2n) {
    background-color: var(--color-darkviolet);
}

.item__text {
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.table__item_min {
    font-size: 12px;
    line-height: 1.2;
    position: relative;
    top: 1px;
}

.table__item_min:before {
    content: "(";
    position: absolute;
    top: 0;
    left: -5px;
}

.table__item_min:after {
    content: ")";
    position: absolute;
    top: 0;
    right: -5px;
}

.table__item:hover {
    background-color: var(--color-forhover);
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    cursor: pointer;
}

/* малюємо закреслення за допомогою псевдо-елемента before  */
input:checked+.item__text:before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: calc(100% + 5px);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    z-index: 1;
}


/* цей елемент наче не кнопкою має бути, звичайний div */
.button {
    text-align: center;
    color: var(--color-orange);
    background-color: var(--color-grey);
    margin: 20px 0px 20px;
    padding: 20px 0 20px;
}